<!-- blog start -->
<div class="pa-blog spacer-top spacer-bottom">
  <div class="container">
    <div class="pa-heading">
      <img src="../../../assets/images/herbal.svg" alt="image" class="img-fluid" />
      <h1>latest news</h1>
      <h5>blog</h5>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="pa-blog-box">
          <img
            src="../../../assets/images/blog1.jpg"
            alt="image"
            class="img-fluid"
          />
          <div class="pa-blog-title">
            <a [routerLink]="['/blogsingle']" class="pa-blog-category">Ayurveda Medicine</a>
            <h2>
              <a href="blog-single.html"
                >Duis aute irure dolor in velit voluptate esse</a
              >
            </h2>
            <a [routerLink]="['/blogsingle']" class="pa-blog-date">20 March,2020</a>
          </div>
          <div class="pa-blog-view">
            <ul>
              <li>
                <a [routerLink]="['/blogsingle']"> <fa-icon [icon]="faHeart"></fa-icon>
                  900</a>
              </li>
              <li>
                <a [routerLink]="['/blogsingle']"><fa-icon [icon]="faEye"></fa-icon> 830</a>
              </li>
              <li>
                <a [routerLink]="['/blogsingle']"><fa-icon [icon]="faShare"></fa-icon> Share</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="pa-blog-box">
          <img
            src="../../../assets/images/blog2.jpg"
            alt="image"
            class="img-fluid"
          />
          <div class="pa-blog-title">
            <a [routerLink]="['/blogsingle']" class="pa-blog-category">Ayurveda Medicine</a>
            <h2>
              <a href="blog-single.html"
                >Duis aute irure dolor in velit voluptate esse</a
              >
            </h2>
            <a [routerLink]="['/blogsingle']" class="pa-blog-date">20 March,2020</a>
          </div>
          <div class="pa-blog-view">
            <ul>
              <li>
                <a [routerLink]="['/blogsingle']"> <fa-icon [icon]="faHeart"></fa-icon>
                  900</a>
              </li>
              <li>
                <a [routerLink]="['/blogsingle']"><fa-icon [icon]="faEye"></fa-icon> 830</a>
              </li>
              <li>
                <a [routerLink]="['/blogsingle']"><fa-icon [icon]="faShare"></fa-icon> Share</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="pa-blog-box">
          <img
            src="../../../assets/images/blog3.jpg"
            alt="image"
            class="img-fluid"
          />
          <div class="pa-blog-title">
            <a [routerLink]="['/blogsingle']" class="pa-blog-category">Ayurveda Medicine</a>
            <h2>
              <a href="blog-single.html"
                >Duis aute irure dolor in velit voluptate esse</a
              >
            </h2>
            <a [routerLink]="['/blogsingle']" class="pa-blog-date">20 March,2020</a>
          </div>
          <div class="pa-blog-view">
            <ul>
              <li>
                <a [routerLink]="['/blogsingle']"> <fa-icon [icon]="faHeart"></fa-icon>
                  900</a>
              </li>
              <li>
                <a [routerLink]="['/blogsingle']"><fa-icon [icon]="faEye"></fa-icon> 830</a>
              </li>
              <li>
                <a [routerLink]="['/blogsingle']"><fa-icon [icon]="faShare"></fa-icon> Share</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- blog end -->
