<!-- breadcrumb start -->
<div class="pa-breadcrumb">
  <div class="container-fluid">
    <div class="pa-breadcrumb-box">
      <h1>blog</h1>
      <ul>
        <li><a [routerLink]="['/home']">Home</a></li>
        <li>blog</li>
      </ul>
    </div>
  </div>
</div>
<!-- breadcrumb end --><!-- blog start -->
<div class="pa-blog-page spacer-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class="pa-blog-box">
              <img
                src="assets/images/blog1.jpg"
                alt="image"
                class="img-fluid"
              />
              <div class="pa-blog-title">
                <a [routerLink]="['/products']" class="pa-blog-category">Ayurveda Medicine</a>
                <h2>
                  <a [routerLink]="['/services']"
                    >Duis aute irure dolor in velit voluptate esse</a
                  >
                </h2>
                <a [routerLink]="['/products']" class="pa-blog-date">20 March,2020</a>
              </div>
              <div class="pa-blog-view">
                <ul>
                  <li>
                    <a [routerLink]="['/blogsingle']"> <fa-icon [icon]="faHeart"></fa-icon>
                      900</a>
                  </li>
                  <li>
                    <a [routerLink]="['/blogsingle']"><fa-icon [icon]="faEye"></fa-icon> 830</a>
                  </li>
                  <li>
                    <a [routerLink]="['/blogsingle']"><fa-icon [icon]="faShare"></fa-icon> Share</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pa-blog-box">
              <img
                src="assets/images/blog2.jpg"
                alt="image"
                class="img-fluid"
              />
              <div class="pa-blog-title">
                <a [routerLink]="['/products']" class="pa-blog-category">Ayurveda Medicine</a>
                <h2>
                  <a [routerLink]="['/services']"
                    >Duis aute irure dolor in velit voluptate esse</a
                  >
                </h2>
                <a [routerLink]="['/products']" class="pa-blog-date">20 March,2020</a>
              </div>
              <div class="pa-blog-view">
                <ul>
                  <li>
                    <a [routerLink]="['/blogsingle']"> <fa-icon [icon]="faHeart"></fa-icon>
                      900</a>
                  </li>
                  <li>
                    <a [routerLink]="['/blogsingle']"><fa-icon [icon]="faEye"></fa-icon> 830</a>
                  </li>
                  <li>
                    <a [routerLink]="['/blogsingle']"><fa-icon [icon]="faShare"></fa-icon> Share</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pa-blog-box">
              <img
                src="assets/images/blog3.jpg"
                alt="image"
                class="img-fluid"
              />
              <div class="pa-blog-title">
                <a [routerLink]="['/products']" class="pa-blog-category">Ayurveda Medicine</a>
                <h2>
                  <a [routerLink]="['/services']"
                    >Duis aute irure dolor in velit voluptate esse</a
                  >
                </h2>
                <a [routerLink]="['/products']" class="pa-blog-date">20 March,2020</a>
              </div>
              <div class="pa-blog-view">
                <ul>
                  <li>
                    <a [routerLink]="['/blogsingle']"> <fa-icon [icon]="faHeart"></fa-icon>
                      900</a>
                  </li>
                  <li>
                    <a [routerLink]="['/blogsingle']"><fa-icon [icon]="faEye"></fa-icon> 830</a>
                  </li>
                  <li>
                    <a [routerLink]="['/blogsingle']"><fa-icon [icon]="faShare"></fa-icon> Share</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pa-blog-box">
              <img
                src="assets/images/blog2.jpg"
                alt="image"
                class="img-fluid"
              />
              <div class="pa-blog-title">
                <a [routerLink]="['/products']" class="pa-blog-category">Ayurveda Medicine</a>
                <h2>
                  <a [routerLink]="['/services']"
                    >Duis aute irure dolor in velit voluptate esse</a
                  >
                </h2>
                <a [routerLink]="['/products']" class="pa-blog-date">20 March,2020</a>
              </div>
              <div class="pa-blog-view">
                <ul>
                  <li>
                    <a [routerLink]="['/blogsingle']"> <fa-icon [icon]="faHeart"></fa-icon>
                      900</a>
                  </li>
                  <li>
                    <a [routerLink]="['/blogsingle']"><fa-icon [icon]="faEye"></fa-icon> 830</a>
                  </li>
                  <li>
                    <a [routerLink]="['/blogsingle']"><fa-icon [icon]="faShare"></fa-icon> Share</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <app-filter-product></app-filter-product>
      </div>
    </div>
  </div>
</div>
<!-- blog end -->

<!--start footer-->
<app-footer></app-footer>
<!--end footer-->
