<!--start spinner-->
<app-header></app-header>
<!--end header-->

<!--start navbar-->
<app-navbar (open)="open(login)"></app-navbar>
<!--end navbar-->

<app-spinner *ngIf="loading" mode="indeterminate"></app-spinner>
<!--end spinner-->

<!--start header-->
<router-outlet></router-outlet>

<!-- login start -->
<ng-template #login let-c="close" let-d="dismiss">
  <div class="pa-login-model" id="loginModel">
    <button
      type="button"
      class="pa-login-close close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
      <h1 class="pa-login-title">Login</h1>
      <form [formGroup]="usrFrom" (submit)="save()">
        <div class="pa-login-form">
          <input type="text" formControlName="userName" laceholder="Username"
          [ngClass]="{'is-invalid': (usrFrom.get('userName')?.touched || usrFrom.get('userName')?.dirty) && !usrFrom.get('userName')?.valid}"
          />

          <input
          [ngClass]="{'is-invalid': (usrFrom.get('password')?.touched || usrFrom.get('password')?.dirty) && !usrFrom.get('password')?.valid}"
            type="password"
            formControlName="password"
            placeholder="Password"
          />
          <div class="pa-remember">
            <label
              >Remember Me <input type="checkbox" /><span
                class="s_checkbox"
              ></span></label
            ><a
              href="javascript:;"
              class="pa-forgot-password"
              aria-label="Close"
              (click)="[d('Cross click'), open(forgot)]"
              >Forgot Password ?</a
            >
          </div>
          <div class="pa-login-btn">
            <button class="pa-btn" [disabled]="!usrFrom.valid" (click)="[c('Save click')]">Login</button>
            <p>
              Don't have an account?
              <a
                href="javascript:;"
                (click)="[d('Cross click'), open(signUP)]"
                aria-label="Close"
                >Sign up</a
              >
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>

</ng-template>
<!-- login end -->

  <!--signup start-->
  <ng-template #signUP let-c="close" let-d="dismiss">

  <div class="pa-login-model pa-signup-modal" id="signUpModal">
    <button
      type="button"
      class="pa-login-close close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
      <h1 class="pa-login-title" (click)="[open(login)]">Signup</h1>
      <form [formGroup]="usrFrom" (submit)="save()">
        <div class="pa-login-form">
          <input type="text" placeholder="Username" formControlName="userName"
            [ngClass]="{'is-invalid': (usrFrom.get('userName')?.touched || usrFrom.get('userName')?.dirty) && !usrFrom.get('userName')?.valid}"
          />
          <input type="text" placeholder="Email" formControlName="email"
          [ngClass]="{'is-invalid': (usrFrom.get('email')?.touched || usrFrom.get('email')?.dirty) && !usrFrom.get('email')?.valid}"
          />
          <input type="password" placeholder="Password" formControlName="password"
          [ngClass]="{'is-invalid': (usrFrom.get('password')?.touched || usrFrom.get('password')?.dirty) && !usrFrom.get('password')?.valid}"
          />
          <input type="password" placeholder="Confirm Password" formControlName="password"
          [ngClass]="{'is-invalid': (usrFrom.get('password')?.touched || usrFrom.get('password')?.dirty) && !usrFrom.get('password')?.valid}"
          />

          <div class="pa-login-btn">
            <button class="pa-btn" [disabled]="!usrFrom.valid" (click)="[c('Save click')]">Sign up</button>
            <p>
              Already have an account?
              <a
                href="javascript:;"
                aria-label="Close"
                (click)="[d('Cross click'), open(login)]"
                >Login</a
              >
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

  <!--signup end-->


  <!--signup start-->
  <ng-template #forgot let-c="close" let-d="dismiss">

    <div class="pa-login-model pa-forgot-modal" id="forgotModal">
      <button
      type="button"
      class="pa-login-close close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
      <h1 class="pa-login-title">Forgot Password</h1>
      <form>
        <div class="pa-login-form">
          <input type="text" placeholder="Email" />
          <div class="pa-login-btn">
            <button class="pa-btn" (click)="[c('Save click')]">Forgot</button>
            <p>
              Don't have an account?
              <a
                href="javascript:;"
                aria-label="Close"
                (click)="[d('Cross click'), open(signUP)]"
                >Sign up</a
              >
            </p>
          </div>
        </div>
      </form>
    </div>
    </div>
  </ng-template>

    <!--signup end-->
