<!-- breadcrumb start -->
<div class="pa-breadcrumb">
  <div class="container-fluid">
    <div class="pa-breadcrumb-box">
      <h1>blog single</h1>
      <ul>
        <li><a [routerLink]="['/home']">Home</a></li>
        <li>blog single</li>
      </ul>
    </div>
  </div>
</div>
<!-- breadcrumb end --><!-- blog single start -->
<div class="pa-blog-single spacer-top spacer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-8" style="padding: 15px;">
        <div class="pa-blog-box">
          <img
            src="assets/images/blog-single.jpg"
            alt="image"
            class="img-fluid"
          />
          <div class="pa-blog-title">
            <a [routerLink]="['/products']" class="pa-blog-category">Ayurveda Medicine</a>
            <h2>
              Fusce blandit nulla at massa venenatis,sed tincidunt
              nisltincidunt.
            </h2>
            <a href="#" class="pa-blog-date">20 March,2020</a>
            <p>
              Lorem ipsum dolor sit amet,consectetur adipiscing elit.
              Donec efficitur erat diam,non iaculis ex dictum ut. Aenean
              sit amet odio nisi.Vestibulum vel dolor et justo
              sollicitudin tincidunt. Mauris eleifend elit metus. Fusce
              blandit nulla at massa venenatis,sed tincidunt
              nisltincidunt. Vestibulum semper orci magna,vel gravida
              tellus tincidunt in.
            </p>
          </div>
          <div class="pa-blog-view">
            <ul>
              <li>
                <a [routerLink]="['/blogsingle']"> <fa-icon [icon]="faHeart"></fa-icon>
                  900</a>
              </li>
              <li>
                <a [routerLink]="['/blogsingle']"><fa-icon [icon]="faEye"></fa-icon> 830</a>
              </li>
              <li>
                <a [routerLink]="['/blogsingle']"><fa-icon [icon]="faShare"></fa-icon> Share</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="pa-bs-content">
          <p>
            Lorem ipsum dolor sit amet,consectetur adipiscing elit. Donec
            efficitur erat diam,non iaculis ex dictum ut. Aenean sit amet
            odio nisi.Vestibulum vel dolor et justo sollicitudin
            tincidunt. Mauris eleifend elit metus. Fusce blandit nulla at
            massa venenatis,sed tincidunt nisltincidunt. Vestibulum semper
            orci magna,vel gravida tellus tincidunt in.
          </p>
          <p>
            Lorem ipsum dolor sit amet,consectetur adipiscing elit. Donec
            efficitur erat diam,non iaculis ex dictum ut. Aenean sit amet
            odio nisi.Vestibulum vel dolor et justo sollicitudin
            tincidunt. Mauris eleifend elit metus. Fusce blandit nulla at
            massa venenatis,sed tincidunt nisltincidunt. Vestibulum semper
            orci magna,vel gravida tellus tincidunt in.
          </p>
          <div class="pa-blog-user">
            <div class="pa-blog-user-img">
              <img
                src="assets/images/user.jpg"
                alt="image"
                class="img-fluid"
              />
            </div>
            <div class="pa-blog-user-content">
              <h2 class="pa-blog-user-name">John doe</h2>
              <p>
                Lorem ipsum dolor sit amet,consectetur adipiscing elit.
                Donec efficitur erat diam,non iaculis ex dictum ut. Aenean
                sit amet odio nisi.
              </p>
            </div>
          </div>
        </div>
        <div class="pa-blog-comnt">
          <h2 class="pa-cmnt-title">Leave a reply</h2>
          <ul>
            <li>
              <div class="pa-cmnt-box">
                <div class="pa-cmnt-img">
                  <img
                    src="assets/images/user.jpg"
                    alt="image"
                    class="img-fluid"
                  />
                </div>
                <div class="pa-cmnt-content">
                  <h3>Jonson Brock</h3>
                  <p>
                    <span class="pa-cmnt-date">1 May,2020</span
                    ><span class="pa-cmnt-time">06:35:44</span>
                  </p>
                  <p>
                    Aenean sit amet odio nisi.Vestibulum vel dolor et
                    justo sollicitudin tincidunt. Mauris eleifend elit
                    metus.
                  </p>
                </div>
              </div>
              <ul>
                <li>
                  <div class="pa-cmnt-box">
                    <div class="pa-cmnt-img">
                      <img
                        src="assets/images/user.jpg"
                        alt="image"
                        class="img-fluid"
                      />
                    </div>
                    <div class="pa-cmnt-content">
                      <h3>Jonson Brock</h3>
                      <p>
                        <span class="pa-cmnt-date">1 May,2020</span
                        ><span class="pa-cmnt-time">06:35:44</span>
                      </p>
                      <p>
                        Aenean sit amet odio nisi.Vestibulum vel dolor et
                        justo sollicitudin tincidunt. Mauris eleifend elit
                        metus.
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="pa-cmnt-box">
                <div class="pa-cmnt-img">
                  <img
                    src="assets/images/user.jpg"
                    alt="image"
                    class="img-fluid"
                  />
                </div>
                <div class="pa-cmnt-content">
                  <h3>Jonson Brock</h3>
                  <p>
                    <span class="pa-cmnt-date">1 May,2020</span
                    ><span class="pa-cmnt-time">06:35:44</span>
                  </p>
                  <p>
                    Aenean sit amet odio nisi.Vestibulum vel dolor et
                    justo sollicitudin tincidunt. Mauris eleifend elit
                    metus.
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <div class="pa-cmnt-form">
            <form>
              <input type="text" placeholder="Enter your name" /><input
                type="text"
                placeholder="Enter your email"
              /><textarea placeholder="Message here"></textarea
              ><button class="pa-btn" type="submit">submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
       <app-filter-product></app-filter-product>
      </div>
    </div>
  </div>
</div>
<!-- blog single end -->


<!--start footer-->
<app-footer></app-footer>
<!--end footer-->
